/************************
        Styles
 ************************/


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

nav .navbar-header {
	height: 75px;
}

nav .navbar-nav {
	margin-top: 10px;	
}

nav img.logo {
  height: 60px;
  width: 55px;
  margin-top: -7px;
}



body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer .navbar-nav {
	margin-top: 0px;
}

.footer a {
	color: #9B9FA3;
}

.img-wrapper {
	max-height: 300px;
	overflow: hidden;
	margin-bottom: 20px;
}

.img-wrapper .img-header {
	background-color: rgba(0,0,0,.5);
	position: absolute;
	color: #fff;
	margin:0 auto;
}

.img-wrapper .img-header h2{
	

}

@media(min-width:768px) {
    
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}
