/************************
        Styles
 ************************/


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

nav .navbar-header {
	height: 80px;
}

nav .navbar-nav {
	margin-top: 20px;	
}

nav img.logo {
  height: 80px;
  /*width: 55px;*/
  margin-top: -15px;
}

body > .container {
  padding: 50px 10px 0;
  max-width: 970px !important;
}

.navbar-toggle {
  margin-top: 20px;
}

.container .text-muted {
  margin: 20px 0;
}

.container p {
  font-size: 21px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer .navbar-nav {
	margin-top: 0px;
}

.footer a {
	color: #9B9FA3;
}

.img-wrapper {
	max-height: 300px;
	overflow: hidden;
	margin-bottom: 10px;
}

.img-wrapper .img-header {
  margin-top: 10px;
  background-color: rgba(0,0,0,.35);
  position: absolute;
  color: #fff;
  left: 35%;
  right: 35%;
  text-align: center;
}

.img-wrapper .img-header h2{
  margin: 10px 0;
}

@media(min-width:768px) {
}

.image {
  position: relative;
 /* max-height: 300px;
  width: 400px;*/
}

.image-textbox a {
  position: absolute;
  width: 300px;
  color: #fff;
  font-weight: bold;
  bottom: 300px;
  left: 675px;
  padding: 40px 0;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.4);
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}
